<div class="container-fluid">
  <div class="row">
    <div class="span9">
      <h1>Please choose what you want to do</h1>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <a>Manage your bookings</a>
    </div>
    <div class="span3">
      <a>View your booking history</a>
    </div>
    <div class="span3">
      <a>View your settings</a>
    </div>
  </div>
</div>