<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  
  <configSections>  
    <section name="clientSettings" type="Workmate.Messaging.Configuration.MessageClientConfigurationSection, Workmate.Messaging"/>
  </configSections> 
   
  <location path="Handlers/Articles/FileUploadHandler">
    <system.web>
      <httpRuntime maxRequestLength="2097151"/>
    </system.web>
  </location>  
     
  <clientSettings  netTcpBindingName="LargeMessageNetTcpBinding"
                   endpointAddress="net.tcp://localhost/Workmate/Messaging"
                   autoReconnect="true"
                   reconnectInterval="00:00:10" 
                   pingInterval="00:00:05" /> 
     
  <connectionStrings> 
    <add name="WorkmateDatabase" connectionString="Server=COMPI\SQLEXPRESS;Database=Workmate_Debug;Trusted_Connection=True;" />
  </connectionStrings>
 
  <appSettings> 
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4netConfigPath" value="log4net.config" />
    
    <add key="defaultConnectionStringName" value="WorkmateDatabase" />
    <add key="dataStoreContextType" value="Workmate.Data.SqlProvider.SqlServerDataStore, Workmate.Data.SqlProvider" />
    <!--<add key="dataStoreContextType" value="Workmate.Data.MockDataProvider.MockDataStore, Workmate.Data.MockDataProvider" />-->
 
  </appSettings>
  
  <system.web>
    
    <identity impersonate="true" />
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies> 
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <membership defaultProvider="WorkmateMembershipProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear/>
        <add name="WorkmateMembershipProvider"
             
             type="Workmate.Components.Membership.WorkmateMembershipProvider, Workmate.Components"
             
             applicationName="WorkmateApplication"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="999"
             passwordAttemptWindow="999"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
                           
             encryptionAlgorithm="SHA1"
             passwordPassphrase="Sy5l+6GaZe7"
             passwordInitVector="Lr8?-Ww6g{2Z_4Ro"
             authenticationTimeoutInSeconds="1200"
             persistentAuthenticationTimeoutInSeconds="14400"
             lastActivityUpdateWindowInSeconds="30"             
             />
      </providers>
    </membership>

    <!-- Configure the Sql Role Provider -->
    <roleManager enabled="true" defaultProvider="WorkmateRoleProvider">
      <providers>
        <clear/>
        <add name="WorkmateRoleProvider"
             
             type="Workmate.Components.Membership.WorkmateRoleProvider, Workmate.Components"
             applicationName="WorkmateApplication" />
        
      </providers>
    </roleManager>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login"
             name=".WM"
             defaultUrl="~/"
             path="/"
             slidingExpiration="true"/>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <httpHandlers>
      
    </httpHandlers>
    
  </system.web>

  <system.serviceModel>

    <bindings>

      <netTcpBinding>
        <binding name="LargeMessageNetTcpBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:00:30"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 maxConnections="100"
                 transferMode="Buffered"
                 maxBufferPoolSize="10485760"
                 maxBufferSize="1048576"
                 maxReceivedMessageSize="1048576">

          <readerQuotas maxDepth="32"
                        maxStringContentLength="65536"
                        maxArrayLength="65536" />

          <security>
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>

        </binding>
      </netTcpBinding>

    </bindings>

  </system.serviceModel>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
