<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Url Rewriting Section Definition -->
    <section name="UrlRewriting" type="CommonTools.Web.Navigation.UrlRewriteSection, CommonTools"/>
    <!-- Cache Section Definition -->
    <section name="Cache" type="CommonTools.Components.Caching.CacheSection, CommonTools"/>
    <!-- Logging Section Definition -->
    <section name="Logging" type="CommonTools.Components.Logging.LogSection, CommonTools"/>
    <!-- Job Section Definition -->
    <section name="Jobs" type="CommonTools.Components.Threading.JobSection, CommonTools"/>
    <!-- ClusteredCache Section Definition -->
    <section name="ClusteredCache" type="CommonTools.Components.Caching.ClusteredCacheSection, CommonTools"/>

    <!-- SiteMapMenu Section Definition -->
    <section name="SiteMapMenu" type="CommonTools.Web.Navigation.SiteMapMenuSection, CommonTools"/>

  </configSections>
  <!-- Url Rewriting Example
    Choose from three different setting types 
  -->
  <!--<UrlRewriting urlRewriteControllerProviderType="web.sitemap"/>-->
  <UrlRewriting urlRewriteControllerProviderType="CommonTools.TestSuite.Components.MockupSitemapController, CommonTools.TestSuite"/>
  <!-- Url Rewriting Example END -->
  <!-- Logging Example: 
    connectionStringName: must point to an existing connectionstring name in this application's configuration 
    storedProcedurePrefix: the prefix used for the sql stored procedures used for logging 
  -->
  <Logging connectionStringName="CommonTools.TestSuite.DummyDatabase.SqlProvider.Properties.Settings.DummyBaseConnectionString" storedProcedurePrefix="ct_" asynchronousBatchSize="100" defaultApplicationId="1"/>

  <!-- Cache Example: 
    connectionStringName: must point to an existing connectionstring name in this application's configuration 
    storedProcedurePrefix: the prefix used for the sql stored procedures used for logging 
  -->
  <Cache cacheControllerProviderType="CommonTools.TestSuite.Components.MockupCacheController, CommonTools.TestSuite"/>
  <!--<Cache>
    <objects minutes="10" enabled="true">
      <add name="UniqueUser"            enabled="true"      cacheItemPriority="Normal"      isIterating="true" suffix="_UU" />
    </objects>
  </Cache>-->
  <ClusteredCache connectionStringName="CommonTools.TestSuite.ClusteredCacheConnectionString" storedProcedurePrefix="cc_" clusteredCachingMode="CheckAtRequest" applicationId="99" checkAtRequestIsUpToDateDelayInMilliseconds="1000"/>

  <SiteMapMenu siteMapMenuControllerProviderType="CommonTools.TestSuite.Components.MockupSitemapController, CommonTools.TestSuite"/>


  <!-- Job Example: 
  -->
  <Jobs>
    <jobPool minutes="10">
      <add name="FirstJob" type="CommonTools.TestSuite.Jobs.MockupFirstJob, CommonTools.TestSuite" enabled="true" enableShutDown="false" executeOnOwnThread="true" firstRunAtInitialization="true">
        <Options>
          <add name="FirstValue" value="2000"/>
          <add name="SecondValue" value="val2"/>
          <add name="ThirdValue" value="val3"/>
        </Options>
      </add>
      <!--<add name="SecondJob"
           type="CommonTools.TestSuite.Jobs.MockupSecondJob, CommonTools.TestSuite"
           enabled="true"
           enableShutDown="false"
           firstRunAtInitialization="false" />
      <add name="NoSingleJob"
           type="CommonTools.TestSuite.Jobs.MockupNoSingleJob, CommonTools.TestSuite"
           enabled="true"
           enableShutDown="false"
           executeOnOwnThread="true"
           seconds="10" />
      <add name="DailyJob"
            type="CommonTools.TestSuite.Jobs.MockupDailyJob, CommonTools.TestSuite"
            enabled="true"
            enableShutDown="false"
            executeDaily="true"
            dailyUTCExecutionTime="11:11:00.000" />-->
    </jobPool>
  </Jobs>

  <appSettings>
    <add key="TextResourcesRootFolder" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Languages\"/>
    <add key="XmlDummyDataPath" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Resources\DummyData.xml"/>
    <add key="CacheConfigPath" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Resources\CacheConfig.xml"/>
    <add key="SitemapControllerPath" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Resources\SitemapController.xml"/>
    <add key="SiteMapMenuControllerPath" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Resources\SiteMapMenuController.xml"/>
    <add key="GenericSitemapControllerPath" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Resources\GenericSitemapController.xml"/>
    <add key="GenericSiteMapMenuControllerPath" value="C:\VSS\CommonTools.3.5.root\CommonTools.3.5\CommonTools.TestSuite\Resources\GenericSiteMapMenuController.xml"/>
    <add key="WrongConnectionString" value="Data Source=POLSTER_WRONG;Initial Catalog=DummyBase;Integrated Security=True"/>
  </appSettings>
  <connectionStrings>
    <add name="CommonTools.TestSuite.ClusteredCacheConnectionString" connectionString="Data Source=localhost;Initial Catalog=ClusteredCacheTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CommonTools.TestSuite.DummyDatabase.SqlProvider.Properties.Settings.DummyBaseConnectionString" connectionString="Data Source=localhost;Initial Catalog=DummyBase;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
