@model Workmate.Web.UI.Models.Account.ViewAccountModel

<h2>VIEW ACCCOUNT HOME</h2>

<h1>@Model.User.FirstName @Model.User.LastName</h1>
<img src="@this.GetProfileImage(Model.User.ProfileImageId)" />
<button>TODO (Roman): upload image</button>

