<?xml version="1.0"?>
<sitemap>

  <item type="dns" name="default" applicationName="debug" applicationGroup="wm" domains="www.wm.com" isDefault="true"
        imageFolderRootUrl="http://www.wm.com/wm/themes/wm/default/images/"></item>

  <item type="dns" name="debug_localhost" applicationName="debug" applicationGroup="wm" domains="localhost"
        imageFolderRootUrl="/themes/wm/default/images/"></item>

  <item type="dns" name="default" applicationName="debug" applicationGroup="wm" domains="www.wm.com;localhost" isDefault="true"
        imageFolderRootUrl="http://www.wm.com/wm/themes/wm/default/images/"></item>

  <item type="dns" name="debug_german" applicationName="debug" applicationGroup="wm" domains="de.wm.com"
        imageFolderServerPath="c:\temp\images\wm\debug_german\images"
        imageFolderRootUrl="http://images.wm.com/wm/debug_german/images/"></item>

  <item type="css" name="reset" path="styles/reset_1.0.0.css" minified="false"></item>
  <item type="css" name="bootstrap" path="styles/bootstrap/css/bootstrap.css" minified="false"></item>
  <item type="css" name="main" path="styles/main_1.0.0.css" minified="false"></item>

  <item type="js" name="jquery" path="scripts/jquery/jquery-1.8.0.js" minified="true"></item>
  <item type="js" name="jqueryui" path="scripts/jquery/jquery-ui-1.8.23.custom.js" minified="true"></item>
  <item type="js" name="modernizr" path="scripts/modernizr/modernizr-1.7.js" minified="true"></item>

  <item type="js" name="validate" path="scripts/jquery/jquery.validate.js" minified="true"></item>
  <item type="js" name="validateUnobtrusive" path="scripts/jquery/jquery.validate.unobtrusive.js" minified="true"></item>

  <item type="js" name="selectmenu" path="scripts/jquery/jquery.ui.selectmenu.js" minified="false"></item>

  <item type="js" name="bootstrap_scripts" path="styles/bootstrap/js/bootstrap.js" minified="true"></item>

  <!-- File Upload scripts -->
  <item type="js" name="fileUpload_tmpl" path="scripts/fileupload/tmpl.js" minified="true"></item>
  <item type="js" name="fileUpload_canvas_to_blob" path="scripts/fileupload/canvas-to-blob.js" minified="true"></item>
  <item type="js" name="fileUpload_load_image" path="scripts/fileupload/load-image.js" minified="true"></item>

  <item type="js" name="jquery_iframe_transport" path="scripts/jquery/jquery.iframe-transport.js" minified="true"></item>
  <item type="js" name="jquery_fileupload" path="scripts/jquery/jquery.fileupload.js" minified="false"></item>
  <item type="js" name="jquery_fileupload_ip" path="scripts/jquery/jquery.fileupload-ip.js" minified="true"></item>
  <item type="js" name="jquery_fileupload_ui" path="scripts/jquery/jquery.fileupload-ui.js" minified="true"></item>
  <!-- END File Upload scripts -->

  <item type="js" name="searchabledropdown" path="scripts/jquery/jquery.searchabledropdown-1.0.7.js" minified="true"></item>

  <!-- jit -->
  <item type="js" name="jit_graphs" path="scripts/jit/jit-2.0.1.js" minified="true"></item>
  <!-- END jit -->

  <item type="js" name="globals" url="~/Handlers/JSGlobal?v=100" minified="false"></item>
  <item type="js" name="jquery_workmate" path="scripts/internal/jquery.workmate-1.0.0.js" minified="false"></item>


  <routes>

    <!-- Home -->
    <route name="Home" url="" breadcrumbContentKey="bc_Home">
      <defaults controller="Home" action="Index" />
    </route>
    <route name="PageNotFound" url="PageNotFound">
      <defaults controller="Home" action="PageNotFound" />
    </route>
    <route name="AccessDenied" url="AccessDenied">
      <defaults controller="Home" action="AccessDenied" />
    </route>
    <route name="Home_ClearCache" url="ClearCache">
      <!-- TODO (Roman): remove this-->
      <defaults controller="Home" action="ClearCache" />
    </route>

    <!-- Accounts -->
    <route name="Account" url="Account">
      <defaults controller="Account" action="ViewAccount" />
    </route>
    <route name="Account_View" url="Account/View">
      <defaults controller="Account" action="ViewAccount" userId="" />
    </route>
    <route name="Account_View_User" url="Account/View/{userId}">
      <defaults controller="Account" action="ViewAccountUser" userId="" />
    </route>
    <route name="Account_Index" url="Account/Search">
      <defaults controller="Account" action="Search" />
    </route>
    <route name="Account_Login" url="Account/Login">
      <defaults controller="Account" action="Login" />
    </route>
    <route name="Account_Logout" url="Account/Logout">
      <defaults controller="Account" action="Logout" />
    </route>
    <route name="Account_Create" url="Account/Create">
      <defaults controller="Account" action="Create" />
    </route>

    <!-- Annual Leavue -->
    <route name="AnnualLeave" url="AnnualLeave">
      <defaults controller="AnnualLeave" action="Index" />
    </route>
    <route name="AnnualLeave_Index" url="AnnualLeave/Index">
      <defaults controller="AnnualLeave" action="Index" />
    </route>
    <route name="AnnualLeave_Bookings" url="AnnualLeave/Bookings">
      <defaults controller="AnnualLeave" action="Bookings" />
    </route>
    <route name="AnnualLeave_Settings" url="AnnualLeave/Settings">
      <defaults controller="AnnualLeave" action="Settings" />
    </route>
    <route name="AnnualLeave_History" url="AnnualLeave/History">
      <defaults controller="AnnualLeave" action="History" />
    </route>

    <!-- Articles -->
    <route name="Articles" url="Articles">
      <defaults controller="Articles" action="Index" />
    </route>
    <route name="Articles_Index" url="Articles/Index">
      <defaults controller="Articles" action="Index" />
    </route>
    <route name="Articles_Search" url="Articles/Search">
      <defaults controller="Articles" action="Search" />
    </route>
    <route name="Articles_Create" url="Articles/Create">
      <defaults controller="Articles" action="Create" />
    </route>
    <route name="Articles_Create_LoadCategories" url="Articles/Create/LoadCategories">
      <defaults controller="Articles" action="LoadCategories" />
    </route>
    <route name="Articles_View_1" url="Articles/{name}">
      <defaults controller="Articles" action="ViewArticle" name="" category="" subcategory="" />
    </route>
    <route name="Articles_View_2" url="Articles/{category}/{name}">
      <defaults controller="Articles" action="ViewArticle" name="" category="" subcategory="" />
    </route>
    <route name="Articles_View_3" url="Articles/{category}/{subcategory}/{name}">
      <defaults controller="Articles" action="ViewArticle" name="" category="" subcategory="" />
    </route>

    <!-- Control Panel -->
    <route name="ControlPanel" url="ControlPanel" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel" breadcrumbParent="Home">
      <defaults controller="ControlPanel" action="Index" />
    </route>
    <route name="ControlPanel_Index" url="ControlPanel/Index" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Index" />
    </route>
    <route name="ControlPanel_Accounts" url="ControlPanel/Accounts" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Accounts" />
    </route>
    <route name="ControlPanel_AnnualLeave" url="ControlPanel/AnnualLeave" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="AnnualLeave" />
    </route>
    <route name="ControlPanel_Wiki" url="ControlPanel/Wiki" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Wiki" />
    </route>
    <route name="ControlPanel_License" url="ControlPanel/License" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="License" />
    </route>

    <route name="ControlPanel_Departments" url="ControlPanel/Departments" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Departments_Index" />
    </route>
    <route name="ControlPanel_Departments_Index" url="ControlPanel/Departments/Index" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Departments_Index" />
    </route>
    <route name="ControlPanel_Departments_View" url="ControlPanel/Departments/{departmentId}/View" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Departments_View" departmentId="" />
    </route>
    <route name="ControlPanel_Departments_Edit" url="ControlPanel/Departments/{departmentId}/Edit" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Departments_Edit" departmentId="" />
    </route>
    <route name="ControlPanel_Departments_Delete" url="ControlPanel/Departments/{departmentId}/Delete" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Departments_Delete" departmentId="" />
    </route>
    <route name="ControlPanel_Departments_Create" url="ControlPanel/Departments/Create" topMenuName="TopControlPanel">
      <defaults controller="ControlPanel" action="Departments_Create" />
    </route>

    <route name="ControlPanel_Offices" url="ControlPanel/Offices" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel_Offices" breadcrumbParent="ControlPanel">
      <defaults controller="ControlPanel" action="Offices_Index" />
    </route>
    <route name="ControlPanel_Offices_Index" url="ControlPanel/Offices/Index" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel_Offices" breadcrumbParent="ControlPanel">
      <defaults controller="ControlPanel" action="Offices_Index" />
    </route>
    <route name="ControlPanel_Offices_View" url="ControlPanel/Offices/{officeId}/View" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel_Offices_View" breadcrumbParent="ControlPanel_Offices">
      <defaults controller="ControlPanel" action="Offices_View" officeId="" />
    </route>
    <route name="ControlPanel_Offices_Edit" url="ControlPanel/Offices/{officeId}/Edit" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel_Offices_Edit" breadcrumbParent="ControlPanel_Offices">
      <defaults controller="ControlPanel" action="Offices_Edit" officeId="" />
    </route>
    <route name="ControlPanel_Offices_Delete" url="ControlPanel/Offices/{officeId}/Delete" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel_Offices_Delete" breadcrumbParent="ControlPanel_Offices">
      <defaults controller="ControlPanel" action="Offices_Delete" officeId="" />
    </route>
    <route name="ControlPanel_Offices_Create" url="ControlPanel/Offices/Create" topMenuName="TopControlPanel" breadcrumbContentKey="bc_ControlPanel_Offices_Create" breadcrumbParent="ControlPanel_Offices">
      <defaults controller="ControlPanel" action="Offices_Create" />
    </route>

    <!-- Handlers -->
    <route name="JS_Global" url="Handlers/JSGlobal"
           routeHandlerType="Workmate.Web.Components.RouteHandlers.GlobalJavascriptRouteHandler, Workmate.Web.Components" />
    <route name="Articles_FileUploadHandler" url="Handlers/Articles/FileUploadHandler"
           routeHandlerType="Workmate.Web.Components.RouteHandlers.FileUpload.ArticlesFileUploadHandler, Workmate.Web.Components" />

  </routes>

  <menus>

    <menu name="Top">
      <menuItem name="Home" routeName="Home" contentKey="menu_Home">
      </menuItem>
      <menuItem name="AnnualLeave" routeName="AnnualLeave" contentKey="menu_AnnualLeave">
        <menuItem routeName="AnnualLeave_Bookings" contentKey="menu_AnnualLeave_Bookings"></menuItem>
        <menuItem routeName="AnnualLeave_History" contentKey="menu_AnnualLeave_History"></menuItem>
        <menuItem routeName="AnnualLeave_Settings" contentKey="menu_AnnualLeave_Settings"
              allowedRoles="SystemAdministrator,AnnualLeaveAdministrator"></menuItem>
      </menuItem>
      <menuItem name="Articles" routeName="Articles" contentKey="menu_Wiki" licenseKey="Wiki">
        <menuItem routeName="Articles_Index" contentKey="menu_Wiki_Overview"></menuItem>
        <menuItem routeName="Articles_Search" contentKey="menu_Wiki_Search"></menuItem>
        <menuItem routeName="Articles_Create" contentKey="menu_Wiki_Create"
              allowedRoles="SystemAdministrator,WikiEditor,WikiAdministrator">
        </menuItem>
      </menuItem>
      <menuItem name="Account" routeName="Account" contentKey="menu_Account">
      </menuItem>
      <menuItem name="ControlPanel" routeName="ControlPanel" contentKey="menu_ControlPanel" allowedRoles="SystemAdministrator">
      </menuItem>
    </menu>

    <menu name="TopControlPanel">
      <menuItem name="Home" routeName="Home" contentKey="menu_Home">
      </menuItem>
      <dropdownMenuItem name="ControlPanel" contentKey="menu_ControlPanel_Company">
        <dropdownMenuItem name="Departments" routeName="ControlPanel_Departments" contentKey="menu_ControlPanel_Departments" >
          <menuItem name="ControlPanel_Departments" routeName="ControlPanel_Departments" contentKey="menu_ControlPanel_Departments"></menuItem>
          <menuItem name="ControlPanel_Departments_Create" routeName="ControlPanel_Departments_Create" contentKey="menu_ControlPanel_Departments_Create"></menuItem>
        </dropdownMenuItem>
        <dropdownMenuItem name="Offices" routeName="ControlPanel_Offices" contentKey="menu_ControlPanel_Offices" >
          <menuItem name="ControlPanel_Offices" routeName="ControlPanel_Offices" contentKey="menu_ControlPanel_Offices"></menuItem>
          <menuItem name="ControlPanel_Offices_Create" routeName="ControlPanel_Offices_Create" contentKey="menu_ControlPanel_Offices_Create"></menuItem>
          <menuItem name="ControlPanel_Offices_Edit" routeName="ControlPanel_Offices_Edit" showInNavPills="false"></menuItem>
        </dropdownMenuItem>
      </dropdownMenuItem>
      <menuItem name="Accounts" routeName="ControlPanel_Accounts" contentKey="menu_ControlPanel_Accounts"></menuItem>
      <menuItem name="AnnualLeave" routeName="ControlPanel_AnnualLeave" contentKey="menu_ControlPanel_AnnualLeave"></menuItem>
      <menuItem name="Wiki" routeName="ControlPanel_Wiki" contentKey="menu_ControlPanel_Wiki"></menuItem>
      <menuItem name="License" routeName="ControlPanel_License" contentKey="menu_ControlPanel_License"></menuItem>
    </menu>

  </menus>

</sitemap>