<?xml version="1.0"?>
<configuration>

  <configSections>

    <!-- Cache Section Definition -->
    <section name="Cache" type="CommonTools.Runtime.Caching.Configuration.CacheSection, CommonTools.Runtime.Caching"/>

  </configSections>

  <Cache>
    <objects lifeSpan="00:10:00" enabled="true">
      
      <add name="TestItem"        
           enabled="true" 
           cacheItemPriority="Default"       
           lifeSpan="00:00:00.010" 
           cacheKey="_t" 
           useContinuousAccess="true" 
           continuousAccessExtendedLifeSpan="00:01:00.000"/>
      
      <add name="TestItem2"
           enabled="true"
           cacheItemPriority="Default"
           lifeSpan="00:00:20.010"
           cacheKey="_t2"
           useContinuousAccess="true"
           continuousAccessExtendedLifeSpan="12:00:00.000"/>
      
      <add name="ListWithRandomNumberOfElements"
           enabled="true"
           cacheItemPriority="Default"
           lifeSpan="00:00:01"
           cacheKey="_t3"
           useContinuousAccess="true"
           continuousAccessExtendedLifeSpan="12:00:00.000"/>
      
    </objects>
  </Cache>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
