<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Url Rewriting Section Definition -->
    <section name="UrlRewriting" type="FantasyLeague.CommonTools.Web.Navigation.UrlRewriteSection, FantasyLeague.CommonTools"/>
    <!-- Cache Section Definition -->
    <section name="Cache" type="FantasyLeague.CommonTools.Components.Caching.CacheSection, FantasyLeague.CommonTools"/>
    <!-- Logging Section Definition -->
    <section name="Logging" type="FantasyLeague.CommonTools.Components.Logging.LogSection, FantasyLeague.CommonTools"/>
    <!-- Job Section Definition -->
    <section name="Jobs" type="FantasyLeague.CommonTools.Components.Threading.JobSection, FantasyLeague.CommonTools"/>
    <!-- ClusteredCache Section Definition -->
    <section name="ClusteredCache" type="FantasyLeague.CommonTools.Components.Caching.ClusteredCacheSection, FantasyLeague.CommonTools"/>

    <!-- SiteMapMenu Section Definition -->
    <section name="SiteMapMenu" type="FantasyLeague.CommonTools.Web.Navigation.SiteMapMenuSection, FantasyLeague.CommonTools"/>

  </configSections>
  <!-- Url Rewriting Example
    Choose from three different setting types 
  -->
  <!--<UrlRewriting urlRewriteControllerProviderType="web.sitemap"/>-->
  <UrlRewriting urlRewriteControllerProviderType="FantasyLeague.CommonTools.TestSuite.Components.MockupSitemapController, FantasyLeague.CommonTools.TestSuite"/>
  <!-- Url Rewriting Example END -->
  <!-- Logging Example: 
    connectionStringName: must point to an existing connectionstring name in this application's configuration 
    storedProcedurePrefix: the prefix used for the sql stored procedures used for logging 
  -->
  <Logging connectionStringName="FantasyLeague.CommonTools.TestSuite.DummyDatabase.SqlProvider.Properties.Settings.DummyBaseConnectionString" 
           storedProcedurePrefix="ct_"
           asynchronousBatchSize="100"
           defaultApplicationId="1" />

  <!-- Cache Example: 
    connectionStringName: must point to an existing connectionstring name in this application's configuration 
    storedProcedurePrefix: the prefix used for the sql stored procedures used for logging 
  -->
  <Cache cacheControllerProviderType="FantasyLeague.CommonTools.TestSuite.Components.MockupCacheController, FantasyLeague.CommonTools.TestSuite"/>
  <!--<Cache>
    <objects minutes="10" enabled="true">
      <add name="UniqueUser"            enabled="true"      cacheItemPriority="Normal"      isIterating="true" suffix="_UU" />
    </objects>
  </Cache>-->
  <ClusteredCache connectionStringName="FantasyLeague.CommonTools.TestSuite.ClusteredCacheConnectionString" 
                  storedProcedurePrefix="cc_"
                  clusteredCachingMode="CheckAtRequest" />

  <SiteMapMenu siteMapMenuControllerProviderType="FantasyLeague.CommonTools.TestSuite.Components.MockupSitemapController, FantasyLeague.CommonTools.TestSuite"/>


  <!-- Job Example: 
  -->
  <Jobs>
    <jobPool minutes="10">
      <add name="FirstJob"
           type="FantasyLeague.CommonTools.TestSuite.Jobs.MockupFirstJob, FantasyLeague.CommonTools.TestSuite"
           enabled="true"
           enableShutDown="false"
           firstRunAtInitialization="true">
        <Options>
          <add name="FirstValue" value="val1" />
          <add name="SecondValue" value="val2" />
          <add name="ThirdValue" value="val3" />
        </Options>
      </add>
      <add name="SecondJob"
           type="FantasyLeague.CommonTools.TestSuite.Jobs.MockupSecondJob, FantasyLeague.CommonTools.TestSuite"
           enabled="true"
           enableShutDown="false"
           firstRunAtInitialization="false"    />
      <add name="NoSingleJob"
           type="FantasyLeague.CommonTools.TestSuite.Jobs.MockupNoSingleJob, FantasyLeague.CommonTools.TestSuite"
           enabled="true"
           enableShutDown="false"
           executeOnOwnThread="true"
           seconds="1" />
      <add name="DailyJob"
            type="FantasyLeague.CommonTools.TestSuite.Jobs.MockupDailyJob, FantasyLeague.CommonTools.TestSuite"
            enabled="true"
            enableShutDown="false"
            executeDaily="true"
            dailyUTCExecutionTime="11:11:00.000" />
    </jobPool>
  </Jobs>

  <appSettings>
    <add key="TextResourcesRootFolder" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Languages\" />
    <add key="XmlDummyDataPath" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Resources\DummyData.xml" />
    <add key="CacheConfigPath" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Resources\CacheConfig.xml" />
    <add key="SitemapControllerPath" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Resources\SitemapController.xml" />
    <add key="SiteMapMenuControllerPath" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Resources\SiteMapMenuController.xml" />
    <add key="GenericSitemapControllerPath" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Resources\GenericSitemapController.xml" />
    <add key="GenericSiteMapMenuControllerPath" value="C:\VSS\FantasyLeague.CommonTools.3.5.root\FantasyLeague.CommonTools.3.5\FantasyLeague.CommonTools.TestSuite\Resources\GenericSiteMapMenuController.xml" />
    <add key="WrongConnectionString" value="Data Source=POLSTER_WRONG;Initial Catalog=DummyBase;Integrated Security=True"/>
  </appSettings>
  <connectionStrings>
    <add name="FantasyLeague.CommonTools.TestSuite.ClusteredCacheConnectionString"
         connectionString="Data Source=KRANKL;Initial Catalog=ClusteredCacheTest;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>
    <add name="FantasyLeague.CommonTools.TestSuite.DummyDatabase.SqlProvider.Properties.Settings.DummyBaseConnectionString" 
         connectionString="Data Source=KRANKL;Initial Catalog=DummyBase;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>