<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <connectionStrings> 
    <add name="WorkmateDatabase" connectionString="Server=COMPI\SQLEXPRESS;Database=Workmate_Debug;Trusted_Connection=True;" />
  </connectionStrings>

  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="TRACE"/>
        <foreColor value="Cyan"/>
      </mapping>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="_trace.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <datePattern value="yyyy-MM-dd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception"/>
      </layout>
    </appender>

    <!-- Useful levels:  ALL, TRACE, DEBUG, INFO, WARN, ERROR -->

    <root>
      <level value="TRACE"/>
      <appender-ref ref="ConsoleAppender"/>
      <!--<appender-ref ref="LogFileAppender"/>-->
    </root>

    <logger name="Exchange">
      <level value="TRACE"/>
    </logger>
    <logger name="Server">
      <level value="TRACE"/>
    </logger>

  </log4net>

  <appSettings>
    <add key="log4netConfigPath" value="log4net.config" />
    <add key="defaultConnectionStringName" value="WorkmateDatabase" />
    <add key="dataStoreContextType" value="Workmate.Data.SqlProvider.SqlServerDataStore, Workmate.Data.SqlProvider" />
    
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpEnableSsl" value="true" />
    <add key="smtpDeliveryMethod" value="Network" />
    <add key="smtpUseDefaultCredentials" value="false" />
    <add key="smtpUserName" value="workmate.test.emailpublisher@gmail.com" />
    <add key="smtpPassword" value="workmatepw123" />
    
    <add key="queuedEmailsThresholdInSeconds" value="3600" /> <!-- If an email was put in the send queue but has not been sent after xxx seconds, we assume the server went down and we have to resend them -->
    <add key="failedEmailsThresholdInSeconds" value="86400" /> <!-- If an email failed to deliver we resend after xxx seconds -->
    <add key="totalEmailsToEnqueue" value="100" />
    <add key="totalResendAttempts" value="3" />
    
  </appSettings>  
  
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="BigMsgNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:00:30" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxConnections="10" transferMode="Buffered" maxBufferPoolSize="10485760" maxBufferSize="1048576" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="65536"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>

      <service name="Workmate.Messaging.Exchange">
        <endpoint address="net.tcp://localhost/Workmate/Messaging" binding="netTcpBinding" bindingConfiguration="BigMsgNetTcpBinding" contract="Workmate.Messaging.IChannel">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>

    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
