<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="WorkmateDatabase" connectionString="Server=COMPI\SQLEXPRESS;Database=Workmate_Debug;Trusted_Connection=True;" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="applicationId" value="99" />
    <add key="log4netConfigPath" value="log4net.config" />

    <add key="defaultConnectionStringName" value="WorkmateDatabase" />
    <add key="dataStoreContextType" value="Workmate.Data.SqlProvider.SqlServerDataStore, Workmate.Data.SqlProvider" />

  </appSettings>

  <system.web>

    <membership defaultProvider="WorkmateMembershipProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear/>
        <add name="WorkmateMembershipProvider"
             
             type="Workmate.Components.Membership.WorkmateMembershipProvider, Workmate.Components"
             
             applicationName="WorkmateApplication"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="999"
             passwordAttemptWindow="999"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
                           
             encryptionAlgorithm="SHA1"
             passwordPassphrase="Sy5l+6GaZe7"
             passwordInitVector="Lr8?-Ww6g{2Z_4Ro"
             authenticationTimeoutInSeconds="1200"
             persistentAuthenticationTimeoutInSeconds="14400"
             lastActivityUpdateWindowInSeconds="30"
             />
      </providers>
    </membership>

    <!-- Configure the Sql Role Provider -->
    <roleManager enabled="true" defaultProvider="WorkmateRoleProvider">
      <providers>
        <clear/>
        <add name="WorkmateRoleProvider"
             
             type="Workmate.Components.Membership.WorkmateRoleProvider, Workmate.Components"
             applicationName="WorkmateApplication" />

      </providers>
    </roleManager>
    
  </system.web>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
